@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
  }


img{
    width: 12%;
}

a{
    cursor: pointer;
    color: #fff;
}

.Navigation{
    display: flex;
    padding: 0 .5em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:#000;
}

.logo{
    display: flex;
    justify-items: space-between;
    align-items: center;
}

.logo h3{
    color: #fff;
    font-size: 1rem;
    font-family: 'anton', cursive;
    letter-spacing: .1em;
    font-weight: 900;
    text-transform: uppercase;
}

.nav{
    display: flex;
    padding: 0 .3em;
}

.nav a{
    color: #fff;
    padding:.35em .7em;
    text-transform: capitalize;
    font-family: 'anton', cursive;
    letter-spacing: .1em;
    transition: .5s ease;
}

.nav a:hover{
    text-align: center;
    background-color: rgb(26, 3, 109);
    border-radius: .2em;
}

.Nav-button{
    width: 05%;
    display: none;
}

.Nav-button  div{
    width: 100%;
    margin-bottom: .6em;
    border-radius: .3em;
    height: .2em;
    background-color: #fff;
}


.Content{
    background-image:  linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url('/Background-Image.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
}


@media screen and (max-width:1000px) {

    .Navigation{
        position: relative;
    }

    .nav{
       display: flex;
       flex-direction: column;
       position: absolute;
       top: 100%;
       width: 100%;
       left: -100%;
       right: 0;
       background-color: #000;
       text-align: center;
       margin-bottom: .5em;
       padding: 0 .4em .6em .4em;
       transition: .5s ease-in-out;
       border-bottom-left-radius: 1em;
       border-bottom-right-radius: 1em;
    }

    .nav.active{
        left: 0;
    }

    .nav a{
        padding:.7em .7em;
    }


    .Nav-button{
        display: block;
    }

}